doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title orden 
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css")
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css')
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js')
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    
  body
    #cabecera
      img(src='/images/banner.png', alt='Logo del laboratorio')
    #botones
      button#botonInicio.custom-button Inicio
      button#botonBuscarPaciente.custom-button Buscar Paciente
      button#botonAgregarPaciente.custom-button Agregar Paciente
      button#botonAgregarOrden.custom-button Agregar Orden    
      button#botonBuscarOrden.custom-button Buscar Orden
      button#botonExamenes.custom-button Examenes
      button#botonSalir.custom-button Salir
    
    #contenedorSeleccionarPaciente
      h2 Seleccione un Paciente
      table#tablaBuscarPacienteO.cell-border.compact.display
          thead
              tr
              th   
              th Id Paciente
              th DNI
              th Nombre
              th Apellido
              th Fecha de Nacimiento
          tbody
              each paciente in pacientes
                  tr
                      td 
                          input(type="button", class="seleccionar-paciente", data-id=paciente.id_paciente, value="Seleccionar")
                      td.buscable= paciente.id_paciente
                      td.buscable= paciente.dni
                      td.buscable= paciente.nombre
                      td.buscable= paciente.apellido
                      td.buscable= paciente.fecha_nacimiento
                    

    #contenedorformularioOrdenes
        form#formularioOrden(action='/rutaOrden/agregarOrden', method='post')
          #contenedorPacientes
            h2 Paciente:
            .fila
              .columna
                | ID:
                input(type="text", id="idPacienteInput", name="id_paciente", readonly)
              .columna
                | DNI:
                input(type="text", id="dniPacienteInput", name="dni", readonly)
            .fila
              .columna
                | Nombre:
                input(type="text", id="nombrePacienteInput", name="nombre", readonly)
              .columna
                | Apellido:
                input(type="text", id="apellidoPacienteInput", name="apellido", readonly)
            input(type="button", class="cambiar-paciente", value="Cambiar de paciente")
          #contenedorOrdenes
            h2 Orden:
            .fila 
                p 
                 | Id de Orden: 
                 input(type="text" name="id_orden" readonly id="idOrdenInput")
            .fila
              .columna
                p
                    | Fecha de Ingreso: 
                    input(type="date" name="fecha_ingreso" required)
              .columna
                //- p
                //-     | Asignado a:
                //-     select(name="id_empleado", required)
                //-       each empleado in empleados
                //-         option(value=empleado.id_empleado)= empleado.nombre_empleado + ' '+ empleado.apellido_empleado
              .columna
                p
                    | Fecha de Entrega:
                    input(type="date" name="fecha_entrega")
            .fila
              .columna
                p
                    | Diagnóstico:
                    input(type="text" name="diagnostico"  placeholder='Ingrese el presunto diagnostico' )
              .columna
                p
                | Solicita:
                input(type="text" name="doctor"  placeholder='Ingrese el nombre del doctor' required)
            .fila
              .columna
                p
                  | Tipo de examen:
                  select(name="id_tipo", required)
                    each tipo_examen in tipo_examenes
                      option(value=tipo_examen.id_tipo)= tipo_examen.descripcion
              //-agregar tambien las muestras faltantes
            .fila
              .columna
                form(action="/buscarOrden", method="post")
                  p
                    | Estado de la orden:
                    select(name="id_estado", required)
                      each estado in estados
                        option(value=estado.id_estado)= estado.valor
              .columna
                p
                    | Observación:
                    textarea(name="observacion")
            .fila
              .columna
                button#botonAgregarOrden(type="submit") Crear Orden de Trabajo
              .columna
                input(type="hidden", id="idOrdenInput", value=miIdOrden)
                input(type="button", id="bttnRegistrarMuestra", value="Registrar Muestra",style="display: none")

    footer#footer
      p Rivadavia 548, San Luis, Argentina
      p Teléfono: 266 4000000
      p Email: labwm@gmail.com
      p &copy; 2023 TreeLabWM
    
    script(src='/javascripts/lab.js')
    script.
        let idOrden;
        $(document).ready(function() {
          
            $('#tablaBuscarPacienteO').DataTable({
                searching: true,
                language: {
                search: "Buscar paciente:"
                },
                columnDefs: [{
                targets: 'buscable',
                searchable: true,
                }],
                columns:[
                     { "width": "5%" }, 
                    { "width": "5%" }, 
                    { "width": "20%" },
                    { "width": "20%" }, 
                    { "width": "20%" }, 
                    { "width": "20%"} 
                ]               
            });
             $('#formularioOrden').submit(function(e) {
                e.preventDefault();
                let formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/rutaOrden/agregarOrden',
                    data: formData,
                    success: function(response) {
                        if (response.id_orden) {
                          $('#bttnRegistrarMuestra').show();
                          $('#idOrdenInput').val(response.id_orden); 
                          Swal.fire({
                                  title: "Orden generada",
                                  text: "Ingrese la informacion de las muestras",
                                  icon: "success"
                                })
                          idOrden=response.id_orden;
                        }
                    },
                    error: function(error) {
                        Swal.fire({
                                  text: "Error al guardar la orden",
                                  icon: "error"
                                })
                    }
                   
                });
              });
        })
        $('.seleccionar-paciente').click(function() {
          const idPaciente = $(this).data('id');
          const nombre = $(this).closest('tr').find('td:nth-child(4)').text();
          const apellido = $(this).closest('tr').find('td:nth-child(5)').text();
          const dni = $(this).closest('tr').find('td:nth-child(3)').text();

          $('#idPacienteInput').val(idPaciente);
          $('#nombrePacienteInput').val(nombre);
          $('#apellidoPacienteInput').val(apellido);
          $('#dniPacienteInput').val(dni);
          $('#contenedorSeleccionarPaciente').hide();
          $('#contenedorformularioOrdenes').show();
        });
        $('.cambiar-paciente').click(function() {
          $('#contenedorSeleccionarPaciente').show();
          $('#contenedorformularioOrdenes').hide();
        });
        $('#bttnRegistrarMuestra').click(function() {
          if (idOrden) {
            window.open('http://localhost:5000/muestra?id=' + idOrden, '_blank');
          } else {
            console.error('idOrden no está definida');
          }
        });









    
       
