doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TreeLabWM
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    #cabecera
      img(src='/images/banner.png', alt='Logo del laboratorio')
    #botones
      button#botonInicio.custom-button Inicio
      button#botonBuscarPaciente.custom-button Buscar Paciente
      button#botonAgregarPaciente.custom-button Agregar Paciente
      button#botonAgregarOrden.custom-button Agregar Orden    
      button#botonBuscarOrden.custom-button Buscar Orden
      button#botonExamenes.custom-button Examenes
      button#botonSalir.custom-button Salir

    h1 Búsqueda de Pacientes
    form(action='/rutaPaciente/buscar', method='GET')
      p Ingrese nombre, DNI o apellido del paciente:
      input(style: center, type='text', name='busqueda', id='busquedaPaciente', placeholder='Ingrese el nombre/apellido/DNI del paciente')
      button(type='submit', id='botonBuscar') Buscar 

    table#tablaResultados
      h2 Pacientes
      thead
        tr
          th DNI
          th Nombre
          th Apellido
          th Fecha de Nacimiento
          th Obra Social
          th Número de Afiliado
          th Teléfono
          th Sexo
          th Direccion
          th User
          th Acciones
      tbody
        each paciente in pacientes
          tr
            td= paciente.dni
            td= paciente.nombre
            td= paciente.apellido
            td= paciente.fecha_nacimiento
            td= paciente.obra_social
            td= paciente.numero_afiliado
            td= paciente.telefono
            td= paciente.id_sexo
            td= paciente.id_direccion
            td= paciente.id_user
            td
                button(type='button', class='custom-button editar-button', data-id=paciente.id_paciente) Editar



    //button#guardarCambios Guardar cambios

  each paciente in pacientes
    #editarPaciente(data-id=paciente.id)
    form(action=`/rutaPaciente/actualizarPaciente/${paciente.id}`, method='POST')
      p     
        | DNI:
        input(type='text', name='dni', placeholder='DNI', value=paciente.dni)
      p
        | Nombre:
        input(type='text', name='nombre', placeholder='Nombre', value=paciente.nombre)
      p
        | Apellido:
        input(type='text', name='apellido', placeholder='Apellido', value=paciente.apellido)
      p
        | Fecha de nacimiento:
        input(type='date', name='fecha_nacimiento', placeholder='Fecha de nacimiento', value=paciente.fecha_nacimiento)
      p
        | Obra Social:
        input(type='text', name='id_obra_social', placeholder='Obra Social', value=paciente.id_obra_social)
      p
        | Número de afiliado:
        input(type='text', name='numero_afiliado', placeholder='Número de afiliado', value=paciente.numero_afiliado)
      p
        | Teléfono:
        input(type='text', name='telefono', placeholder='Teléfono', value=paciente.telefono)
      p
        | Sexo:
        input(type='text', name='id_sexo', placeholder='Sexo', value=paciente.id_sexo)
      p
        | Direccion:
        input(type='text', name='id_direccion', placeholder='Direccion', value=paciente.id_direccion)
      p
        | User:
        input(type='text', name='id_user', placeholder='User', value=paciente.id_user)
      
      button(type='submit', class='custom-button guardar-button', data-id=paciente.id) Guardar Cambios

      //button(type='submit', class='custom-button guardar-button', data-id=paciente.id) Guardar Cambios

footer#footer
  p Rivadavia 548, San Luis, Argentina
  p Teléfono: 266 4000000
  p Email: labwm@gmail.com
  p &copy; 2023 TreeLabWM
script(src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src='/javascripts/lab.js')
