doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TreeLabWM
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    #cabecera
      img(src='/images/banner.png', alt='Logo del laboratorio')
    #botones
      button#botonAgregarPaciente.custom-button Agregar Paciente
      button#botonBuscarPaciente.custom-button Buscar Paciente      
      button.custom-button Orden de Trabajo
      button#botonInicio.custom-button Inicio
      button.custom-button Salir

    h1 Búsqueda de Pacientes
    form(action='/rutaPaciente/buscar', method='GET')
      p Ingrese nombre, DNI o apellido del paciente:
      input(style: center, type='text', name='busqueda', id='busquedaPaciente', placeholder='Ingrese el nombre/apellido/DNI del paciente')
      button(type='submit', id='botonBuscar') Buscar 

    table#tablaResultados
      h2 Pacientes
      thead
        tr
          th Nombre
          th Apellido
          th DNI
          th Email
          th Fecha de Nacimiento
          th Sexo
          th Embarazada
          th Obra Social
          th Número de Afiliado
          th Teléfono
          th Ciudad
          th Acciones
      tbody
        each paciente in pacientes
          tr
            td= paciente.nombre
            td= paciente.apellido
            td= paciente.dni
            td= paciente.email
            td= paciente.fechanacimiento
            td= paciente.sexo
            td= paciente.embarazada
            td= paciente.obraSocial
            td= paciente.numeroAfiliado
            td= paciente.telefono
            td= paciente.ciudad
            td
                button(type='button', class='custom-button editar-button', data-id=paciente.id_paciente) Editar



    //button#guardarCambios Guardar cambios

  each paciente in pacientes
    #editarPaciente(data-id=paciente.id)
    form(action=`/rutaPaciente/actualizarPaciente/${paciente.id}`, method='POST')
      p
        | Nombre:
        input(type='text', name='nombre', placeholder='Nombre', value=paciente.nombre)
      p
        | Apellido:
        input(type='text', name='apellido', placeholder='Apellido', value=paciente.apellido)
      p
        | Email:
        input(type='text', name='email', placeholder='Email', value=paciente.email)
      p
        | Fecha de nacimiento:
        input(type='date', name='fechaNacimiento', placeholder='Fecha de nacimiento', value=paciente.fechaNacimiento)
      p
        | Sexo:
        select(name='sexo')
          option(value='masculino', selected=paciente.sexo === 'masculino') Masculino
          option(value='femenino', selected=paciente.sexo === 'femenino') Femenino
          option(value='otros', selected=paciente.sexo === 'otros') Otros
      p 
        | Embarazada 
        input(type="checkbox", id="embarazadaSi", name="embarazadaSi", value="si")
        label(for="embarazadaSi") si
        input(type="checkbox", id="embarazadaNo", name="embarazadaNo", value="no")
        label(for="embarazadaNo") no  
      p     
        | DNI:
        input(type='text', name='dni', placeholder='DNI', value=paciente.dni)
      p
        | Obra Social:
        input(type='text', name='obraSocial', placeholder='Obra Social', value=paciente.obraSocial)
      p
        | Número de afiliado:
        input(type='text', name='numeroAfiliado', placeholder='Número de afiliado', value=paciente.numeroAfiliado)
      p
        | Teléfono:
        input(type='text', name='telefono', placeholder='Teléfono', value=paciente.telefono)
      p
        | Ciudad:
        input(type='text', name='ciudad', placeholder='Ciudad', value=paciente.ciudad)
      button(type='submit', class='custom-button guardar-button', data-id=paciente.id) Guardar Cambios

      //button(type='submit', class='custom-button guardar-button', data-id=paciente.id) Guardar Cambios

footer#footer
  p Rivadavia 548, San Luis, Argentina
  p Teléfono: 266 4000000
  p Email: labwm@gmail.com
  p &copy; 2023 TreeLabWM
script(src='https://code.jquery.com/jquery-3.6.0.min.js')
script(src='/javascripts/lab.js')
